button {
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  animation-duration: 400ms;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 120px;
  }
}
.float{
  float: right;
}
